@using TErm.Models
@model ProjectModel
@{
    ViewBag.Title = "Проекты";
}

<div>
    @using (Html.BeginForm("Projects", "Project", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    Проекты:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.name, Model.projectsList, "Выбрать проект")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Открыть" style="border-radius:5px; color: #000000; background-color: #bdbdbd; width: 172px; height: 30px;"/>
                </td>
            </tr>
        </table>
    }
    @using (Html.BeginForm("Projects", "Project", FormMethod.Post))
    {
        <input type="submit" value="Обновить проекты" style="border-radius:5px; color: #000000; background-color: #bdbdbd; width: 172px; height: 30px;"/>
    }
</div>